<!DOCTYPE html>
<html>
<head>
    <title>Main Page</title>
</head>
<body>
    <iframe src="https://site1.example.com" width="49%" height="500"></iframe>
    <iframe src="https://site2.example.com" width="49%" height="500"></iframe>
</body>
</html>