server {
    listen 80;
    server_name {{ item }};
    root /var/www/{{ item.split('.')[0] }};
    index index.html;

    access_log /var/log/nginx/sites/{{ item }}_access.log;
    error_log /var/log/nginx/sites/{{ item }}_error.log;

    location / {
        try_files $uri $uri/ =404;
    }
}

server {
    listen 443 ssl;
    server_name {{ domain }};

    ssl_certificate /etc/ssl/certs/{{ domain }}.crt;
    ssl_certificate_key /etc/ssl/private/{{ domain }}.key;
    include /etc/nginx/snippets/ssl_params.conf;

    root /var/www/{{ domain.split('.')[0] }};
    index index.html;

    location / {
        try_files $uri $uri/ =404;
    }
}