server {
    listen 80;
    server_name {{ domain }};
    root /var/www/{{ domain.split('.')[0] }};
    index index.html;

    access_log /var/log/nginx/sites/{{ domain }}_access.log;
    error_log /var/log/nginx/sites/{{ domain }}_error.log;

    location / {
        try_files $uri $uri/ =404;
    }
}

server {
    listen 443 ssl;
    server_name {{ domain }};
    
    ssl_certificate /etc/letsencrypt/live/{{ domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ domain }}/privkey.pem;

    root /var/www/{{ domain.split('.')[0] }};
    index index.html;

    location / {
        try_files $uri $uri/ =404;
    }
}