server {
    listen 80;
    server_name {{ item }};
    root /var/www/{{ item.split('.')[0] }};
    index index.html;

    access_log /var/log/nginx/sites/{{ item }}_access.log;
    error_log /var/log/nginx/sites/{{ item }}_error.log;

    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl http2;
    server_name {{ item }};
    
    ssl_certificate /etc/ssl/certs/selfsigned.crt;
    ssl_certificate_key /etc/ssl/private/selfsigned.key;
    include /etc/nginx/snippets/ssl_params.conf;

    root /var/www/{{ item.split('.')[0] }};
    index index.html;

    location / {
        try_files $uri $uri/ =404;
    }

    add_header X-Frame-Options "ALLOW-FROM https://{{ nginx_domains | join(', https://') }}";
}